@font-face {
    font-family: "font1";
    src: url('/Applications/XAMPP/xamppfiles/htdocs/phpinperson/DesignThinking/fonts/Baskervville_SC,Cormorant_Garamond,Gupter/Baskervville_SC/BaskervvilleSC-Regular.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500&display=swap');

*{
    font-family: 'font1';
}
body{
    margin: 0;
    padding: 0;
    /* background: url('image/logo1.png'); */
    position: relative;

    /* background-size: cover;
    background-position: center;
    background-attachment: fixed; */
    
    /* background-color: wheat; */
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    z-index: -1; /* Keeps the overlay behind the content */
}


.logoDiv{
    background-color: #d6dfe2;
    text-align: center;
}
.logo{
    width: 250px;
    padding: 0.2rem;
}

.name{
    color: rgb(81,140,170);
    font-size: 25px;
}
.navbar{
    background: #91242F;
    
}
.collapse{
    color: white;
    font-size: 1.2rem;
}
