
.container-register{
    width: 100%;
    border-radius: 13px; 

}
.container-register a{
    text-decoration: none;
    color: black;
}
.container-register a:hover{
    text-decoration: underline;
    
}
.register{
    width: 100%;
    height: auto;
}